<div class="navbar">
    <p class="siteName">myVOTE.info</p>
   <p class="navigation">
    <a href="/aboute" class="aboute">aboute</a>
    <a href="/joinus" class="joinus">Join us</a>
    <a href="#services" class="services">services</a>
    <a href="/contact" class="contact">contact</a>
    <a href="/login" class="singin">sing in</a></p>
</div>