<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aboute.css">
</head>

<body>
    {{>navbar}}
    <div class="aboute_maindiv">
        <h1 class="aboute_heading">voterbook</h1>
        <h2 class="aboute_heading_two">IT's quick and easy <br>
            your action will effect nothing <br>
            but your vote will effect everything</h2>
        <h2 class="aboute_heading_three">
            There's no such thing <br>
            as a Vote <br>
            that does't matter. <br>
            It all matters.
        </h2>
        <div class="services" id="services">
          <h1 class="headingone">we will do together</h1>

        </div>
    </div>


</body>

</html>