<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
      {{>navbar}}
    <div class="password_update">
       <h1 id="voterbookheading">VOTERBOOK</h1>
        <p class="quote1">IT's quick and easy <br>
        your action will effect nothing <br>
        but your vote will effect everything</p>
  <form action="/updatepassword" method="post">
  <input type="number" name="phone" value="" placeholder="--your phone number--" required>
  <input type="text" name="name" value="" placeholder="--your name--" required>
           <input type="password" name="password" id="phoneNumber" value="" placeholder="---new password---">
           <input type="password" name="cpassword" id="phoneNumber" value="" placeholder="--- confirm password---">

         <input type="submit" value="submit" id="submitButton">
  </form>
  </div>
</body>
</html>